{
  "openapi": "3.0.0",
  "info": {
    "title": "World of Tanks",
    "description": "OpenAPI specification for the Wargaming.net Public API.\nThe official Wargaming.net Public API documentation can be found at the Wargaming [Developer's room](https://developers.wargaming.net/).",
    "termsOfService": "https://developers.wargaming.net/documentation/rules/agreement/",
    "contact": {
      "name": "Ace Tanker",
      "url": "https://ace-tanker.net",
      "email": "contact@ace-tanker.net"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.worldoftanks.eu/wot",
      "description": "Europe"
    },
    {
      "url": "https://api.worldoftanks.com/wot",
      "description": "North America"
    },
    {
      "url": "https://api.worldoftanks.asia/wot",
      "description": "Asia"
    },
    {
      "url": "https://api.tanki.su/wot",
      "description": "CIS"
    },
    {
      "url": "https://api.wotgame.cn/wot",
      "description": "China"
    }
  ],
  "components": {
    "parameters": {
      "fields": {
        "name": "fields",
        "description": "Response field. Embedded fields are separated with dots. To exclude a field, use “-” in front of its name. In case the parameter is not defined, the method returns all fields.",
        "in": "query",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 0,
          "maxItems": 100,
          "default": [
          ]
        }
      },
      "encyclopedia_language": {
        "name": "language",
        "description": "Localization language.",
        "in": "query",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "en",
            "ru",
            "pl",
            "de",
            "fr",
            "es",
            "zh-cn",
            "zh-tw",
            "tr",
            "cs",
            "th",
            "vi",
            "ko"
          ],
          "x-enumDescriptions": [
            "English",
            "Russian",
            "Polish",
            "German",
            "French",
            "Spanish",
            "Chinese Simplified",
            "Chinese Traditional",
            "Turkish",
            "Czech",
            "Thai",
            "Vietnamese",
            "Korean"
          ]
        }
      },
      "stronghold_language": {
        "name": "language",
        "description": "Localization language.",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "en",
            "de",
            "pl",
            "fr",
            "es",
            "cs",
            "tr",
            "es-ar",
            "pt-br",
            "ja",
            "vi",
            "th",
            "ko"
          ],
          "x-enumDescriptions": [
            "English",
            "German",
            "Polish",
            "French",
            "Spanish",
            "Czech",
            "Turkish",
            "Argentinian Spanish",
            "Brazilian Portuguese",
            "Japanese",
            "Vietnamese",
            "Thai",
            "Korean"
          ]
        }
      },
      "globalmap_language": {
        "name": "language",
        "description": "Language.",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "en",
            "de",
            "fr",
            "es",
            "pl",
            "tr",
            "th"
          ],
          "x-enumDescriptions": [
            "English",
            "German",
            "French",
            "Spanish",
            "Polish",
            "Turkish",
            "Thai"
          ]
        }
      },
      "clans_language": {
        "name": "language",
        "description": "Localization language.",
        "in": "query",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "en",
            "ru",
            "pl",
            "de",
            "fr",
            "es",
            "zh-cn",
            "zh-tw",
            "tr",
            "cs",
            "th",
            "vi",
            "ko"
          ],
          "x-enumDescriptions": [
            "English",
            "Russian",
            "Polish",
            "German",
            "French",
            "Spanish",
            "Chinese Simplified",
            "Chinese Traditional",
            "Turkish",
            "Czech",
            "Thai",
            "Vietnamese",
            "Korean"
          ]
        }
      }
    },
    "schemas": {
    },
    "securitySchemes": {
      "application_id": {
        "name": "application_id",
        "description": "[Application](https://developers.wargaming.net/applications/) identification key used to send requests to API.",
        "in": "query",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "application_id": [
      ]
    }
  ],
  "paths": {
    "/account/list": {
      "get": {
        "summary": "Players",
        "description": "Method returns partial list of players. The list is filtered by initial characters of user name and sorted alphabetically.",
        "operationId": "get_account_list",
        "parameters": [
          {
            "name": "search",
            "description": "Player name search string. Parameter \"type\" defines minimum length and type of search. Using the exact search type, you can enter several names, separated with commas. Maximum length: 24.",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "name": "limit",
            "description": "Number of returned entries.",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "type",
            "description": "Search type.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "startswith",
                "exact"
              ],
              "x-enumDescriptions": [
                "Search by initial characters of player name. Minimum length: 3 characters. Maximum length: 24 characters. (by default)",
                "Search by exact match of player name. Case insensitive. You can enter several names, separated with commas (up to 100)."
              ],
              "default": "startswith"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "number"
                            }
                          }
                        },
                        "data": {
                          "description": "Method returns partial list of players. The list is filtered by initial characters of user name and sorted alphabetically.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "account_id": {
                                "description": "Player ID",
                                "type": "integer"
                              },
                              "nickname": {
                                "description": "Player name",
                                "type": "string"
                              }
                            },
                            "required": [
                              "nickname",
                              "account_id"
                            ]
                          }
                        }
                      },
                      "required": [
                        "status",
                        "meta",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "error"
                          ]
                        },
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "number"
                            },
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "code",
                            "message"
                          ]
                        }
                      },
                      "required": [
                        "status",
                        "error"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "externalDocs": {
          "url": "https://developers.wargaming.net/reference/all/wot/account/list/"
        }
      }
    },
    "/account/info": {
      "get": {
        "summary": "Player personal data",
        "description": "Method returns player details.",
        "operationId": "get_account_info",
        "parameters": [
          {
            "name": "account_id",
            "description": "Player account ID.",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "minItems": 1,
              "maxItems": 100
            },
            "required": true,
            "style": "form",
            "explode": false
          },
          {
            "name": "access_token",
            "description": "[Access token](https://developers.wargaming.net/documentation/guide/principles/#access_token) for the private data of a user's account; can be received via the authorization method; valid within a stated time period",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extra",
            "description": "Extra fields that will be added to the response.",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "private.boosters",
                  "private.garage",
                  "private.grouped_contacts",
                  "private.personal_missions",
                  "private.rented",
                  "statistics.epic",
                  "statistics.fallout",
                  "statistics.globalmap_absolute",
                  "statistics.globalmap_champion",
                  "statistics.globalmap_middle",
                  "statistics.random",
                  "statistics.ranked_10x10",
                  "statistics.ranked_15x15",
                  "statistics.ranked_battles",
                  "statistics.ranked_battles_current",
                  "statistics.ranked_battles_previous",
                  "statistics.ranked_season_1",
                  "statistics.ranked_season_2",
                  "statistics.ranked_season_3"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "number"
                            }
                          }
                        },
                        "data": {
                          "description": "Method returns player details.",
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "statistics": {
                                "description": "Player statistics",
                                "type": "object",
                                "properties": {
                                  "trees_cut": {
                                    "description": "Trees knocked down",
                                    "type": "integer"
                                  },
                                  "all": {
                                    "description": "Total statistics in Random and clan battles without the Global Map 2.0 statistics",
                                    "type": "object",
                                    "properties": {
                                      "battles": {
                                        "description": "Battles fought",
                                        "type": "integer"
                                      },
                                      "wins": {
                                        "description": "Victories",
                                        "type": "integer"
                                      },
                                      "xp": {
                                        "description": "Total experience",
                                        "type": "integer"
                                      },
                                      "losses": {
                                        "description": "Defeats",
                                        "type": "integer"
                                      },
                                      "survived_battles": {
                                        "description": "Battles survived",
                                        "type": "integer"
                                      },
                                      "damage_received": {
                                        "description": "Damage received",
                                        "type": "integer"
                                      },
                                      "damage_dealt": {
                                        "description": "Damage caused",
                                        "type": "integer"
                                      },
                                      "spotted": {
                                        "description": "Enemies spotted",
                                        "type": "integer"
                                      },
                                      "shots": {
                                        "description": "Shots fired",
                                        "type": "integer"
                                      },
                                      "hits": {
                                        "description": "Hits",
                                        "type": "integer"
                                      },
                                      "frags": {
                                        "description": "Vehicles destroyed",
                                        "type": "integer"
                                      },
                                      "capture_points": {
                                        "description": "Base capture points",
                                        "type": "integer"
                                      },
                                      "dropped_capture_points": {
                                        "description": "Base defense points",
                                        "type": "integer"
                                      },
                                      "hits_percents": {
                                        "description": "Hit ratio",
                                        "type": "integer"
                                      },
                                      "draws": {
                                        "description": "Draws",
                                        "type": "integer"
                                      },
                                      "battle_avg_xp": {
                                        "description": "Average experience per battle",
                                        "type": "integer"
                                      },
                                      "stun_number": {
                                        "description": "Number of times an enemy was stunned by you",
                                        "type": "integer"
                                      },
                                      "battles_on_stunning_vehicles": {
                                        "description": "Number of battles on vehicles that cause the stun effect",
                                        "type": "integer"
                                      },
                                      "stun_assisted_damage": {
                                        "description": "Damage to enemy vehicles stunned by you",
                                        "type": "integer"
                                      },
                                      "track_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor keeping-on-track assistance",
                                        "type": "integer"
                                      },
                                      "radio_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor radio recon assistance",
                                        "type": "integer"
                                      },
                                      "tanking_factor": {
                                        "description": "Ratio of damage blocked by armor from AP, HEAT, and APCR shells to damage received from these types of shells.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "direct_hits_received": {
                                        "description": "Direct hits received",
                                        "type": "integer"
                                      },
                                      "explosion_hits_received": {
                                        "description": "Hits received as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "explosion_hits": {
                                        "description": "Hits on enemy as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "piercings_received": {
                                        "description": "Penetrations received",
                                        "type": "integer"
                                      },
                                      "piercings": {
                                        "description": "Penetrations",
                                        "type": "integer"
                                      },
                                      "no_damage_direct_hits_received": {
                                        "description": "Direct hits received that caused no damage",
                                        "type": "integer"
                                      },
                                      "avg_damage_blocked": {
                                        "description": "Average damage blocked by armor per battle. Damage blocked by armor is damage received from shells (AP, HEAT and APCR) that hit a vehicle but caused no damage.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_track": {
                                        "description": "Average damage upon your shooting the track.\nValue is calculated starting from version 8.8.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_radio": {
                                        "description": "Average damage upon your spotting.\nValue is calculated starting from version 8.8.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted": {
                                        "description": "Average damage caused with your assistance.\nValue is calculated starting from version 8.8.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_stun": {
                                        "description": "Average assisted stun damage.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "max_frags": {
                                        "description": "Maximum destroyed in battle",
                                        "type": "integer"
                                      },
                                      "max_xp": {
                                        "description": "Maximum experience per battle",
                                        "type": "integer"
                                      },
                                      "max_damage": {
                                        "description": "Maximum damage caused in a battle",
                                        "type": "integer"
                                      },
                                      "max_frags_tank_id": {
                                        "description": "Vehicle, in which maximum number of enemy vehicles was destroyed",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_xp_tank_id": {
                                        "description": "Vehicle used to gain maximum experience per battle",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_damage_tank_id": {
                                        "description": "Vehicle used to cause maximum damage",
                                        "type": "integer",
                                        "nullable": true
                                      }
                                    },
                                    "required": [
                                      "max_damage_tank_id",
                                      "max_xp_tank_id",
                                      "max_frags_tank_id",
                                      "max_damage",
                                      "max_xp",
                                      "max_frags",
                                      "avg_damage_assisted_stun",
                                      "avg_damage_assisted",
                                      "avg_damage_assisted_radio",
                                      "avg_damage_assisted_track",
                                      "avg_damage_blocked",
                                      "no_damage_direct_hits_received",
                                      "piercings",
                                      "piercings_received",
                                      "explosion_hits",
                                      "explosion_hits_received",
                                      "direct_hits_received",
                                      "tanking_factor",
                                      "radio_assisted_damage",
                                      "track_assisted_damage",
                                      "stun_assisted_damage",
                                      "battles_on_stunning_vehicles",
                                      "stun_number",
                                      "battle_avg_xp",
                                      "draws",
                                      "hits_percents",
                                      "dropped_capture_points",
                                      "capture_points",
                                      "frags",
                                      "hits",
                                      "shots",
                                      "spotted",
                                      "damage_dealt",
                                      "damage_received",
                                      "survived_battles",
                                      "losses",
                                      "xp",
                                      "wins",
                                      "battles"
                                    ]
                                  },
                                  "company": {
                                    "description": "Tank Company battles statistics",
                                    "type": "object",
                                    "properties": {
                                      "battles": {
                                        "description": "Battles fought",
                                        "type": "integer"
                                      },
                                      "wins": {
                                        "description": "Victories",
                                        "type": "integer"
                                      },
                                      "xp": {
                                        "description": "Total experience",
                                        "type": "integer"
                                      },
                                      "losses": {
                                        "description": "Defeats",
                                        "type": "integer"
                                      },
                                      "survived_battles": {
                                        "description": "Battles survived",
                                        "type": "integer"
                                      },
                                      "damage_received": {
                                        "description": "Damage received",
                                        "type": "integer"
                                      },
                                      "damage_dealt": {
                                        "description": "Damage caused",
                                        "type": "integer"
                                      },
                                      "spotted": {
                                        "description": "Enemies spotted",
                                        "type": "integer"
                                      },
                                      "shots": {
                                        "description": "Shots fired",
                                        "type": "integer"
                                      },
                                      "hits": {
                                        "description": "Hits",
                                        "type": "integer"
                                      },
                                      "frags": {
                                        "description": "Vehicles destroyed",
                                        "type": "integer"
                                      },
                                      "capture_points": {
                                        "description": "Base capture points",
                                        "type": "integer"
                                      },
                                      "dropped_capture_points": {
                                        "description": "Base defense points",
                                        "type": "integer"
                                      },
                                      "hits_percents": {
                                        "description": "Hit ratio",
                                        "type": "integer"
                                      },
                                      "draws": {
                                        "description": "Draws",
                                        "type": "integer"
                                      },
                                      "battle_avg_xp": {
                                        "description": "Average experience per battle",
                                        "type": "integer"
                                      },
                                      "stun_number": {
                                        "description": "Number of times an enemy was stunned by you",
                                        "type": "integer"
                                      },
                                      "battles_on_stunning_vehicles": {
                                        "description": "Number of battles on vehicles that cause the stun effect",
                                        "type": "integer"
                                      },
                                      "stun_assisted_damage": {
                                        "description": "Damage to enemy vehicles stunned by you",
                                        "type": "integer"
                                      },
                                      "track_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor keeping-on-track assistance",
                                        "type": "integer"
                                      },
                                      "radio_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor radio recon assistance",
                                        "type": "integer"
                                      },
                                      "tanking_factor": {
                                        "description": "Ratio of damage blocked by armor from AP, HEAT, and APCR shells to damage received from these types of shells.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "direct_hits_received": {
                                        "description": "Direct hits received",
                                        "type": "integer"
                                      },
                                      "explosion_hits_received": {
                                        "description": "Hits received as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "explosion_hits": {
                                        "description": "Hits on enemy as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "piercings_received": {
                                        "description": "Penetrations received",
                                        "type": "integer"
                                      },
                                      "piercings": {
                                        "description": "Penetrations",
                                        "type": "integer"
                                      },
                                      "no_damage_direct_hits_received": {
                                        "description": "Direct hits received that caused no damage",
                                        "type": "integer"
                                      },
                                      "avg_damage_blocked": {
                                        "description": "Average damage blocked by armor per battle. Damage blocked by armor is damage received from shells (AP, HEAT and APCR) that hit a vehicle but caused no damage.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_track": {
                                        "description": "Average damage upon your shooting the track.\nValue is calculated starting from version 8.9.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_radio": {
                                        "description": "Average damage upon your spotting.\nValue is calculated starting from version 8.9.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted": {
                                        "description": "Average damage caused with your assistance.\nValue is calculated starting from version 8.9.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_stun": {
                                        "description": "Average assisted stun damage.",
                                        "type": "number",
                                        "format": "float"
                                      }
                                    },
                                    "required": [
                                      "avg_damage_assisted_stun",
                                      "avg_damage_assisted",
                                      "avg_damage_assisted_radio",
                                      "avg_damage_assisted_track",
                                      "avg_damage_blocked",
                                      "no_damage_direct_hits_received",
                                      "piercings",
                                      "piercings_received",
                                      "explosion_hits",
                                      "explosion_hits_received",
                                      "direct_hits_received",
                                      "tanking_factor",
                                      "radio_assisted_damage",
                                      "track_assisted_damage",
                                      "stun_assisted_damage",
                                      "battles_on_stunning_vehicles",
                                      "stun_number",
                                      "battle_avg_xp",
                                      "draws",
                                      "hits_percents",
                                      "dropped_capture_points",
                                      "capture_points",
                                      "frags",
                                      "hits",
                                      "shots",
                                      "spotted",
                                      "damage_dealt",
                                      "damage_received",
                                      "survived_battles",
                                      "losses",
                                      "xp",
                                      "wins",
                                      "battles"
                                    ]
                                  },
                                  "clan": {
                                    "description": "Clan battles statistics",
                                    "type": "object",
                                    "properties": {
                                      "battles": {
                                        "description": "Battles fought",
                                        "type": "integer"
                                      },
                                      "wins": {
                                        "description": "Victories",
                                        "type": "integer"
                                      },
                                      "xp": {
                                        "description": "Total experience",
                                        "type": "integer"
                                      },
                                      "losses": {
                                        "description": "Defeats",
                                        "type": "integer"
                                      },
                                      "survived_battles": {
                                        "description": "Battles survived",
                                        "type": "integer"
                                      },
                                      "damage_received": {
                                        "description": "Damage received",
                                        "type": "integer"
                                      },
                                      "damage_dealt": {
                                        "description": "Damage caused",
                                        "type": "integer"
                                      },
                                      "spotted": {
                                        "description": "Enemies spotted",
                                        "type": "integer"
                                      },
                                      "shots": {
                                        "description": "Shots fired",
                                        "type": "integer"
                                      },
                                      "hits": {
                                        "description": "Hits",
                                        "type": "integer"
                                      },
                                      "frags": {
                                        "description": "Vehicles destroyed",
                                        "type": "integer"
                                      },
                                      "capture_points": {
                                        "description": "Base capture points",
                                        "type": "integer"
                                      },
                                      "dropped_capture_points": {
                                        "description": "Base defense points",
                                        "type": "integer"
                                      },
                                      "hits_percents": {
                                        "description": "Hit ratio",
                                        "type": "integer"
                                      },
                                      "draws": {
                                        "description": "Draws",
                                        "type": "integer"
                                      },
                                      "battle_avg_xp": {
                                        "description": "Average experience per battle",
                                        "type": "integer"
                                      },
                                      "stun_number": {
                                        "description": "Number of times an enemy was stunned by you",
                                        "type": "integer"
                                      },
                                      "battles_on_stunning_vehicles": {
                                        "description": "Number of battles on vehicles that cause the stun effect",
                                        "type": "integer"
                                      },
                                      "stun_assisted_damage": {
                                        "description": "Damage to enemy vehicles stunned by you",
                                        "type": "integer"
                                      },
                                      "track_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor keeping-on-track assistance",
                                        "type": "integer"
                                      },
                                      "radio_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor radio recon assistance",
                                        "type": "integer"
                                      },
                                      "tanking_factor": {
                                        "description": "Ratio of damage blocked by armor from AP, HEAT, and APCR shells to damage received from these types of shells.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "direct_hits_received": {
                                        "description": "Direct hits received",
                                        "type": "integer"
                                      },
                                      "explosion_hits_received": {
                                        "description": "Hits received as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "explosion_hits": {
                                        "description": "Hits on enemy as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "piercings_received": {
                                        "description": "Penetrations received",
                                        "type": "integer"
                                      },
                                      "piercings": {
                                        "description": "Penetrations",
                                        "type": "integer"
                                      },
                                      "no_damage_direct_hits_received": {
                                        "description": "Direct hits received that caused no damage",
                                        "type": "integer"
                                      },
                                      "avg_damage_blocked": {
                                        "description": "Average damage blocked by armor per battle. Damage blocked by armor is damage received from shells (AP, HEAT and APCR) that hit a vehicle but caused no damage.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_track": {
                                        "description": "Average damage upon your shooting the track.\nValue is calculated starting from version 8.9.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_radio": {
                                        "description": "Average damage upon your spotting.\nValue is calculated starting from version 8.9.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted": {
                                        "description": "Average damage caused with your assistance.\nValue is calculated starting from version 8.9.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_stun": {
                                        "description": "Average assisted stun damage.",
                                        "type": "number",
                                        "format": "float"
                                      }
                                    },
                                    "required": [
                                      "avg_damage_assisted_stun",
                                      "avg_damage_assisted",
                                      "avg_damage_assisted_radio",
                                      "avg_damage_assisted_track",
                                      "avg_damage_blocked",
                                      "no_damage_direct_hits_received",
                                      "piercings",
                                      "piercings_received",
                                      "explosion_hits",
                                      "explosion_hits_received",
                                      "direct_hits_received",
                                      "tanking_factor",
                                      "radio_assisted_damage",
                                      "track_assisted_damage",
                                      "stun_assisted_damage",
                                      "battles_on_stunning_vehicles",
                                      "stun_number",
                                      "battle_avg_xp",
                                      "draws",
                                      "hits_percents",
                                      "dropped_capture_points",
                                      "capture_points",
                                      "frags",
                                      "hits",
                                      "shots",
                                      "spotted",
                                      "damage_dealt",
                                      "damage_received",
                                      "survived_battles",
                                      "losses",
                                      "xp",
                                      "wins",
                                      "battles"
                                    ]
                                  },
                                  "fallout": {
                                    "description": "Fallout statistics.",
                                    "type": "object",
                                    "properties": {
                                      "battles": {
                                        "description": "Battles fought",
                                        "type": "integer"
                                      },
                                      "wins": {
                                        "description": "Victories",
                                        "type": "integer"
                                      },
                                      "xp": {
                                        "description": "Total experience",
                                        "type": "integer"
                                      },
                                      "losses": {
                                        "description": "Defeats",
                                        "type": "integer"
                                      },
                                      "survived_battles": {
                                        "description": "Battles survived",
                                        "type": "integer"
                                      },
                                      "damage_received": {
                                        "description": "Damage received",
                                        "type": "integer"
                                      },
                                      "damage_dealt": {
                                        "description": "Damage caused",
                                        "type": "integer"
                                      },
                                      "spotted": {
                                        "description": "Enemies spotted",
                                        "type": "integer"
                                      },
                                      "shots": {
                                        "description": "Shots fired",
                                        "type": "integer"
                                      },
                                      "hits": {
                                        "description": "Hits",
                                        "type": "integer"
                                      },
                                      "frags": {
                                        "description": "Vehicles destroyed",
                                        "type": "integer"
                                      },
                                      "capture_points": {
                                        "description": "Base capture points",
                                        "type": "integer"
                                      },
                                      "dropped_capture_points": {
                                        "description": "Base defense points",
                                        "type": "integer"
                                      },
                                      "hits_percents": {
                                        "description": "Hit ratio",
                                        "type": "integer"
                                      },
                                      "draws": {
                                        "description": "Draws",
                                        "type": "integer"
                                      },
                                      "battle_avg_xp": {
                                        "description": "Average experience per battle",
                                        "type": "integer"
                                      },
                                      "stun_number": {
                                        "description": "Number of times an enemy was stunned by you",
                                        "type": "integer"
                                      },
                                      "battles_on_stunning_vehicles": {
                                        "description": "Number of battles on vehicles that cause the stun effect",
                                        "type": "integer"
                                      },
                                      "stun_assisted_damage": {
                                        "description": "Damage to enemy vehicles stunned by you",
                                        "type": "integer"
                                      },
                                      "track_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor keeping-on-track assistance",
                                        "type": "integer"
                                      },
                                      "radio_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor radio recon assistance",
                                        "type": "integer"
                                      },
                                      "tanking_factor": {
                                        "description": "Ratio of damage blocked by armor from AP, HEAT, and APCR shells to damage received from these types of shells.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "direct_hits_received": {
                                        "description": "Direct hits received",
                                        "type": "integer"
                                      },
                                      "explosion_hits_received": {
                                        "description": "Hits received as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "explosion_hits": {
                                        "description": "Hits on enemy as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "piercings_received": {
                                        "description": "Penetrations received",
                                        "type": "integer"
                                      },
                                      "piercings": {
                                        "description": "Penetrations",
                                        "type": "integer"
                                      },
                                      "no_damage_direct_hits_received": {
                                        "description": "Direct hits received that caused no damage",
                                        "type": "integer"
                                      },
                                      "avg_damage_blocked": {
                                        "description": "Average damage blocked by armor per battle. Damage blocked by armor is damage received from shells (AP, HEAT and APCR) that hit a vehicle but caused no damage.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_track": {
                                        "description": "Average damage upon your shooting the track",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_radio": {
                                        "description": "Average damage upon your spotting",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted": {
                                        "description": "Average assisted damage without stun damage.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_stun": {
                                        "description": "Average assisted stun damage.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "win_points": {
                                        "description": "Victory Points",
                                        "type": "integer"
                                      },
                                      "flag_capture": {
                                        "description": "Flags captured in platoon",
                                        "type": "integer"
                                      },
                                      "flag_capture_solo": {
                                        "description": "Flags captured as solo player",
                                        "type": "integer"
                                      },
                                      "avatar_damage_dealt": {
                                        "description": "Damage caused by Combat Reserves",
                                        "type": "integer"
                                      },
                                      "avatar_frags": {
                                        "description": "Destroyed by Combat Reserves",
                                        "type": "integer"
                                      },
                                      "resource_absorbed": {
                                        "description": "Resources captured at resource points",
                                        "type": "integer"
                                      },
                                      "death_count": {
                                        "description": "Deaths",
                                        "type": "integer"
                                      },
                                      "max_win_points": {
                                        "description": "Maximum Victory Points earned in Fallout",
                                        "type": "integer"
                                      },
                                      "max_frags_with_avatar": {
                                        "description": "Maximum destroyed in one battle including vehicles destroyed by avatar",
                                        "type": "integer"
                                      },
                                      "max_damage_with_avatar": {
                                        "description": "Maximum damage caused in one battle including damage from avatar",
                                        "type": "integer"
                                      },
                                      "max_frags_tank_id": {
                                        "description": "Vehicle, in which maximum number of enemy vehicles was destroyed",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_xp_tank_id": {
                                        "description": "Vehicle used to gain maximum experience per battle",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_damage_tank_id": {
                                        "description": "Vehicle used to cause maximum damage",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_frags": {
                                        "description": "Maximum destroyed in battle",
                                        "type": "integer"
                                      },
                                      "max_xp": {
                                        "description": "Maximum experience per battle",
                                        "type": "integer"
                                      },
                                      "max_damage": {
                                        "description": "Maximum damage caused in a battle",
                                        "type": "integer"
                                      }
                                    },
                                    "required": [
                                      "max_damage",
                                      "max_xp",
                                      "max_frags",
                                      "max_damage_tank_id",
                                      "max_xp_tank_id",
                                      "max_frags_tank_id",
                                      "max_damage_with_avatar",
                                      "max_frags_with_avatar",
                                      "max_win_points",
                                      "death_count",
                                      "resource_absorbed",
                                      "avatar_frags",
                                      "avatar_damage_dealt",
                                      "flag_capture_solo",
                                      "flag_capture",
                                      "win_points",
                                      "avg_damage_assisted_stun",
                                      "avg_damage_assisted",
                                      "avg_damage_assisted_radio",
                                      "avg_damage_assisted_track",
                                      "avg_damage_blocked",
                                      "no_damage_direct_hits_received",
                                      "piercings",
                                      "piercings_received",
                                      "explosion_hits",
                                      "explosion_hits_received",
                                      "direct_hits_received",
                                      "tanking_factor",
                                      "radio_assisted_damage",
                                      "track_assisted_damage",
                                      "stun_assisted_damage",
                                      "battles_on_stunning_vehicles",
                                      "stun_number",
                                      "battle_avg_xp",
                                      "draws",
                                      "hits_percents",
                                      "dropped_capture_points",
                                      "capture_points",
                                      "frags",
                                      "hits",
                                      "shots",
                                      "spotted",
                                      "damage_dealt",
                                      "damage_received",
                                      "survived_battles",
                                      "losses",
                                      "xp",
                                      "wins",
                                      "battles"
                                    ]
                                  },
                                  "random": {
                                    "description": "Random battles statistics.",
                                    "type": "object",
                                    "properties": {
                                      "battles": {
                                        "description": "Battles fought",
                                        "type": "integer"
                                      },
                                      "wins": {
                                        "description": "Victories",
                                        "type": "integer"
                                      },
                                      "xp": {
                                        "description": "Total experience",
                                        "type": "integer"
                                      },
                                      "losses": {
                                        "description": "Defeats",
                                        "type": "integer"
                                      },
                                      "survived_battles": {
                                        "description": "Battles survived",
                                        "type": "integer"
                                      },
                                      "damage_received": {
                                        "description": "Damage received",
                                        "type": "integer"
                                      },
                                      "damage_dealt": {
                                        "description": "Damage caused",
                                        "type": "integer"
                                      },
                                      "spotted": {
                                        "description": "Enemies spotted",
                                        "type": "integer"
                                      },
                                      "shots": {
                                        "description": "Shots fired",
                                        "type": "integer"
                                      },
                                      "hits": {
                                        "description": "Hits",
                                        "type": "integer"
                                      },
                                      "frags": {
                                        "description": "Vehicles destroyed",
                                        "type": "integer"
                                      },
                                      "capture_points": {
                                        "description": "Base capture points",
                                        "type": "integer"
                                      },
                                      "dropped_capture_points": {
                                        "description": "Base defense points",
                                        "type": "integer"
                                      },
                                      "hits_percents": {
                                        "description": "Hit ratio",
                                        "type": "integer"
                                      },
                                      "draws": {
                                        "description": "Draws",
                                        "type": "integer"
                                      },
                                      "battle_avg_xp": {
                                        "description": "Average experience per battle",
                                        "type": "integer"
                                      },
                                      "stun_number": {
                                        "description": "Number of times an enemy was stunned by you",
                                        "type": "integer"
                                      },
                                      "battles_on_stunning_vehicles": {
                                        "description": "Number of battles on vehicles that cause the stun effect",
                                        "type": "integer"
                                      },
                                      "stun_assisted_damage": {
                                        "description": "Damage to enemy vehicles stunned by you",
                                        "type": "integer"
                                      },
                                      "track_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor keeping-on-track assistance",
                                        "type": "integer"
                                      },
                                      "radio_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor radio recon assistance",
                                        "type": "integer"
                                      },
                                      "tanking_factor": {
                                        "description": "Ratio of damage blocked by armor from AP, HEAT, and APCR shells to damage received from these types of shells.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "direct_hits_received": {
                                        "description": "Direct hits received",
                                        "type": "integer"
                                      },
                                      "explosion_hits_received": {
                                        "description": "Hits received as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "explosion_hits": {
                                        "description": "Hits on enemy as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "piercings_received": {
                                        "description": "Penetrations received",
                                        "type": "integer"
                                      },
                                      "piercings": {
                                        "description": "Penetrations",
                                        "type": "integer"
                                      },
                                      "no_damage_direct_hits_received": {
                                        "description": "Direct hits received that caused no damage",
                                        "type": "integer"
                                      },
                                      "avg_damage_blocked": {
                                        "description": "Average damage blocked by armor per battle. Damage blocked by armor is damage received from shells (AP, HEAT and APCR) that hit a vehicle but caused no damage.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_track": {
                                        "description": "Average damage upon your shooting the track",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_radio": {
                                        "description": "Average damage upon your spotting",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted": {
                                        "description": "Average assisted damage without stun damage.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "avg_damage_assisted_stun": {
                                        "description": "Average assisted stun damage.",
                                        "type": "number",
                                        "format": "float"
                                      }
                                    },
                                    "required": [
                                      "avg_damage_assisted_stun",
                                      "avg_damage_assisted",
                                      "avg_damage_assisted_radio",
                                      "avg_damage_assisted_track",
                                      "avg_damage_blocked",
                                      "no_damage_direct_hits_received",
                                      "piercings",
                                      "piercings_received",
                                      "explosion_hits",
                                      "explosion_hits_received",
                                      "direct_hits_received",
                                      "tanking_factor",
                                      "radio_assisted_damage",
                                      "track_assisted_damage",
                                      "stun_assisted_damage",
                                      "battles_on_stunning_vehicles",
                                      "stun_number",
                                      "battle_avg_xp",
                                      "draws",
                                      "hits_percents",
                                      "dropped_capture_points",
                                      "capture_points",
                                      "frags",
                                      "hits",
                                      "shots",
                                      "spotted",
                                      "damage_dealt",
                                      "damage_received",
                                      "survived_battles",
                                      "losses",
                                      "xp",
                                      "wins",
                                      "battles"
                                    ]
                                  },
                                  "stronghold_defense": {
                                    "description": "General stats for player's battles in Stronghold defense",
                                    "type": "object",
                                    "properties": {
                                      "battles": {
                                        "description": "Battles fought",
                                        "type": "integer"
                                      },
                                      "wins": {
                                        "description": "Victories",
                                        "type": "integer"
                                      },
                                      "xp": {
                                        "description": "Total experience",
                                        "type": "integer"
                                      },
                                      "losses": {
                                        "description": "Defeats",
                                        "type": "integer"
                                      },
                                      "survived_battles": {
                                        "description": "Battles survived",
                                        "type": "integer"
                                      },
                                      "damage_received": {
                                        "description": "Damage received",
                                        "type": "integer"
                                      },
                                      "damage_dealt": {
                                        "description": "Damage caused",
                                        "type": "integer"
                                      },
                                      "spotted": {
                                        "description": "Enemies spotted",
                                        "type": "integer"
                                      },
                                      "shots": {
                                        "description": "Shots fired",
                                        "type": "integer"
                                      },
                                      "hits": {
                                        "description": "Hits",
                                        "type": "integer"
                                      },
                                      "frags": {
                                        "description": "Vehicles destroyed",
                                        "type": "integer"
                                      },
                                      "capture_points": {
                                        "description": "Base capture points",
                                        "type": "integer"
                                      },
                                      "dropped_capture_points": {
                                        "description": "Base defense points",
                                        "type": "integer"
                                      },
                                      "hits_percents": {
                                        "description": "Hit ratio",
                                        "type": "integer"
                                      },
                                      "draws": {
                                        "description": "Draws",
                                        "type": "integer"
                                      },
                                      "battle_avg_xp": {
                                        "description": "Average experience per battle",
                                        "type": "integer"
                                      },
                                      "stun_number": {
                                        "description": "Number of times an enemy was stunned by you",
                                        "type": "integer"
                                      },
                                      "battles_on_stunning_vehicles": {
                                        "description": "Number of battles on vehicles that cause the stun effect",
                                        "type": "integer"
                                      },
                                      "stun_assisted_damage": {
                                        "description": "Damage to enemy vehicles stunned by you",
                                        "type": "integer"
                                      },
                                      "track_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor keeping-on-track assistance",
                                        "type": "integer"
                                      },
                                      "radio_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor radio recon assistance",
                                        "type": "integer"
                                      },
                                      "tanking_factor": {
                                        "description": "Ratio of damage blocked by armor from AP, HEAT, and APCR shells to damage received from these types of shells.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "direct_hits_received": {
                                        "description": "Direct hits received",
                                        "type": "integer"
                                      },
                                      "explosion_hits_received": {
                                        "description": "Hits received as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "explosion_hits": {
                                        "description": "Hits on enemy as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "piercings_received": {
                                        "description": "Penetrations received",
                                        "type": "integer"
                                      },
                                      "piercings": {
                                        "description": "Penetrations",
                                        "type": "integer"
                                      },
                                      "no_damage_direct_hits_received": {
                                        "description": "Direct hits received that caused no damage",
                                        "type": "integer"
                                      },
                                      "max_frags_tank_id": {
                                        "description": "Vehicle, in which maximum number of enemy vehicles was destroyed",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_xp_tank_id": {
                                        "description": "Vehicle used to gain maximum experience per battle",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_damage_tank_id": {
                                        "description": "Vehicle used to cause maximum damage",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_frags": {
                                        "description": "Maximum destroyed in battle",
                                        "type": "integer"
                                      },
                                      "max_xp": {
                                        "description": "Maximum experience per battle",
                                        "type": "integer"
                                      },
                                      "max_damage": {
                                        "description": "Maximum damage caused in a battle",
                                        "type": "integer"
                                      }
                                    },
                                    "required": [
                                      "max_damage",
                                      "max_xp",
                                      "max_frags",
                                      "max_damage_tank_id",
                                      "max_xp_tank_id",
                                      "max_frags_tank_id",
                                      "no_damage_direct_hits_received",
                                      "piercings",
                                      "piercings_received",
                                      "explosion_hits",
                                      "explosion_hits_received",
                                      "direct_hits_received",
                                      "tanking_factor",
                                      "radio_assisted_damage",
                                      "track_assisted_damage",
                                      "stun_assisted_damage",
                                      "battles_on_stunning_vehicles",
                                      "stun_number",
                                      "battle_avg_xp",
                                      "draws",
                                      "hits_percents",
                                      "dropped_capture_points",
                                      "capture_points",
                                      "frags",
                                      "hits",
                                      "shots",
                                      "spotted",
                                      "damage_dealt",
                                      "damage_received",
                                      "survived_battles",
                                      "losses",
                                      "xp",
                                      "wins",
                                      "battles"
                                    ]
                                  },
                                  "stronghold_skirmish": {
                                    "description": "General stats for player's battles in Skirmishes",
                                    "type": "object",
                                    "properties": {
                                      "battles": {
                                        "description": "Battles fought",
                                        "type": "integer"
                                      },
                                      "wins": {
                                        "description": "Victories",
                                        "type": "integer"
                                      },
                                      "xp": {
                                        "description": "Total experience",
                                        "type": "integer"
                                      },
                                      "losses": {
                                        "description": "Defeats",
                                        "type": "integer"
                                      },
                                      "survived_battles": {
                                        "description": "Battles survived",
                                        "type": "integer"
                                      },
                                      "damage_received": {
                                        "description": "Damage received",
                                        "type": "integer"
                                      },
                                      "damage_dealt": {
                                        "description": "Damage caused",
                                        "type": "integer"
                                      },
                                      "spotted": {
                                        "description": "Enemies spotted",
                                        "type": "integer"
                                      },
                                      "shots": {
                                        "description": "Shots fired",
                                        "type": "integer"
                                      },
                                      "hits": {
                                        "description": "Hits",
                                        "type": "integer"
                                      },
                                      "frags": {
                                        "description": "Vehicles destroyed",
                                        "type": "integer"
                                      },
                                      "capture_points": {
                                        "description": "Base capture points",
                                        "type": "integer"
                                      },
                                      "dropped_capture_points": {
                                        "description": "Base defense points",
                                        "type": "integer"
                                      },
                                      "hits_percents": {
                                        "description": "Hit ratio",
                                        "type": "integer"
                                      },
                                      "draws": {
                                        "description": "Draws",
                                        "type": "integer"
                                      },
                                      "battle_avg_xp": {
                                        "description": "Average experience per battle",
                                        "type": "integer"
                                      },
                                      "stun_number": {
                                        "description": "Number of times an enemy was stunned by you",
                                        "type": "integer"
                                      },
                                      "battles_on_stunning_vehicles": {
                                        "description": "Number of battles on vehicles that cause the stun effect",
                                        "type": "integer"
                                      },
                                      "stun_assisted_damage": {
                                        "description": "Damage to enemy vehicles stunned by you",
                                        "type": "integer"
                                      },
                                      "track_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor keeping-on-track assistance",
                                        "type": "integer"
                                      },
                                      "radio_assisted_damage": {
                                        "description": "Damage dealt to the target with the actor radio recon assistance",
                                        "type": "integer"
                                      },
                                      "tanking_factor": {
                                        "description": "Ratio of damage blocked by armor from AP, HEAT, and APCR shells to damage received from these types of shells.\nValue is calculated starting from version 9.0.",
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "direct_hits_received": {
                                        "description": "Direct hits received",
                                        "type": "integer"
                                      },
                                      "explosion_hits_received": {
                                        "description": "Hits received as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "explosion_hits": {
                                        "description": "Hits on enemy as a result of splash damage",
                                        "type": "integer"
                                      },
                                      "piercings_received": {
                                        "description": "Penetrations received",
                                        "type": "integer"
                                      },
                                      "piercings": {
                                        "description": "Penetrations",
                                        "type": "integer"
                                      },
                                      "no_damage_direct_hits_received": {
                                        "description": "Direct hits received that caused no damage",
                                        "type": "integer"
                                      },
                                      "max_frags_tank_id": {
                                        "description": "Vehicle, in which maximum number of enemy vehicles was destroyed",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_xp_tank_id": {
                                        "description": "Vehicle used to gain maximum experience per battle",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_damage_tank_id": {
                                        "description": "Vehicle used to cause maximum damage",
                                        "type": "integer",
                                        "nullable": true
                                      },
                                      "max_frags": {
                                        "description": "Maximum destroyed in battle",
                                        "type": "integer"
                                      },
                                      "max_xp": {
                                        "description": "Maximum experience per battle",
                                        "type": "integer"
                                      },
                                      "max_damage": {
                                        "description": "Maximum damage caused in a battle",
                                        "type": "integer"
                                      }
                                    },
                                    "required": [
                                      "max_damage",
                                      "max_xp",
                                      "max_frags",
                                      "max_damage_tank_id",
                                      "max_xp_tank_id",
                                      "max_frags_tank_id",
                                      "no_damage_direct_hits_received",
                                      "piercings",
                                      "piercings_received",
                                      "explosion_hits",
                                      "explosion_hits_received",
                                      "direct_hits_received",
                                      "tanking_factor",
                                      "radio_assisted_damage",
                                      "track_assisted_damage",
                                      "stun_assisted_damage",
                                      "battles_on_stunning_vehicles",
                                      "stun_number",
                                      "battle_avg_xp",
                                      "draws",
                                      "hits_percents",
                                      "dropped_capture_points",
                                      "capture_points",
                                      "frags",
                                      "hits",
                                      "shots",
                                      "spotted",
                                      "damage_dealt",
                                      "damage_received",
                                      "survived_battles",
                                      "losses",
                                      "xp",
                                      "wins",
                                      "battles"
                                    ]
                                  },
                                  "historical": {
                                    "description": "Historical battles statistics",
                                    "type": "object",
                                    "properties": {
                                      "battles": {
                                        "description": "Battles fought",
                                        "type": "integer"
                                      },
                                      "wins": {
                                        "description": "Victories",
                                        "type": "integer"
                                      },
                                      "xp": {
                                        "description": "Total experience",
                                        "type": "integer"
                                      },
                                      "losses": {
                                        "description": "Defeats",
                                        "type": "integer"
                                      },
                                      "survived_battles": {
                                        "description": "Battles survived",
                                        "type": "integer"
                                      },
                                      "damage_received": {
                                        "description": "Damage received",
                                        "type": "integer"
                                      },
                                      "damage_dealt": {
[...]
